body {
  padding: 0;
  margin: 0;
  background-color: #2a3b40;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  height: 1000px;
  width: 100%;
}

.background {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -2;
  position: absolute;
}

.header-nav {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-nav a {
  opacity: 0.8;
  font-size: 34px;
  color: #fff;
  font-weight: 800;
}

.header-nav a:hover {
  opacity: 100%;
  transition: 0.25s;
}

.nav {
  display: flex;
  column-gap: 24px;
}

.nav a {
  font-weight: 800;
  font-size: 34px;
  color: #fff;
}

.header-content {
  margin: 0 auto;
  margin-top: 220px;
  max-height: 472px;
  max-width: 758px;
  padding: 120px 110px 120px 110px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header-content h1 {
  color: #304751;
  font-family: "Cookie", cursive;
  font-weight: bold;
  font-size: 80px;
}

.header-content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  color: #ad6c12;
  font-weight: 600px;
}

.more {
  background-color: #fff;
  max-width: 266px;
  font-size: 34px;
  max-height: 60px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.more a {
  padding: 9px 23px 9px 23px;
  font-family: "Raleway", sans-serif;
  font-weight: 600px;
  font-size: 34px;
  color: #000;
}

.more a:hover {
  background-color: #000;
  color: #fff;
  transition: 0.25s;
}

.flavours {
  padding-top: 65px;
  padding-bottom: 65px;
  max-width: 100%;
  margin: 0 auto;
}

.flavours-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 40px;
  color: #fff;
  max-width: 555px;
}

.flavours-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 85px;
}

.flavours-content h1 {
  font-weight: bold;
}

.flavours-content p {
  font-size: 18px;
  line-height: 26px;
}

.tastes {
  max-width: 100%;
  background-color: #d4d8d9;
  padding-top: 98px;
  padding-bottom: 100px;
}

.tastes-items {
  display: flex;
  column-gap: 100px;
  justify-content: center;
}

.tastes-item h1 {
  padding-top: 27px;
  padding-bottom: 33px;
}

.india {
  background-image: url(../img/india-bg.png);
  max-height: 1206px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  width: 100%;
  display: flex;
}

.india-content {
  flex-direction: column;
  display: flex;
  margin-top: 88px;
  max-width: 1080px;
  background-color: rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
}

.india-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 56px;
}

.india-title h1 {
  color: #304751;
  font-size: 50px;
  font-family: "Cookie", cursive;
}

.india-title h2 {
  font-size: 48px;
  font-family: "Raleway", sans-serif;
  color: #ad6c12;
}

.india-menu {
  display: flex;
  text-align: center;
}

.india-menu-item {
  display: flex;
}

.india-menu-item h1 {
  color: #304751;
}

.india-menu-item .price {
  font-weight: bold;
  padding-top: 22px;
  font-family: "Raleway";
  color: #304751;
}

.india-menu-item P {
  padding-top: 22px;
}

.india-menu-item-center {
  display: flex;
  flex-direction: row-reverse;
}

.india-menu-item-center h1 {
  color: #304751;
}

.india-menu-item-center .price {
  font-weight: bold;
  padding-top: 22px;
  font-family: "Raleway";
  color: #304751;
}

.india-menu-item-center p {
  padding-top: 22px;
}

.india-menu-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cuisine {
  display: flex;
  background-color: #d4d8d9;
  margin: 0 auto;
}

.cuisine-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 65px;
}

.cuisine-content h1 {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
  color: #2a3b40;
}

.cuisine-nav {
  display: flex;
  padding-top: 45px;
  flex-direction: column;
}

.circle-img {
  padding-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.cuisine-nav-items {
  display: flex;
  column-gap: 53px;
  justify-content: center;
}

.cuisine-nav-items a {
  color: #304751;
  font-weight: 800;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

.cuisine-nav-items a:hover {
  background-color: #ad6c12;
  transition: 0.25s;
}

.discover {
  background-image: url(../img/discover-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  max-height: 841px;
}

.discover-block {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 238px;
  height: 603px;
  width: 100%;
  margin-bottom: 238px;
}

.discover-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.discover-title h1 {
  font-family: "Cookie", cursive;
  font-size: 50px;
  padding-top: 40px;
}

.discover-title h2 {
  font-family: "Raleway", sans-serif;
  color: #ad6c12;
  font-size: 55px;
}

.discover-info {
  height: 370px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 340px;
  max-width: 1180px;
  margin: 0 auto;
}

.discover-item {
  max-width: 405px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discover-item .discover-text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.discover-img {
  background-color: #fff;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.bg {
  background-image: url(../img/discover-bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.book {
  display: flex;
  height: 450px;
}

.form-title {
  font-size: 45px;
  font-family: "Cookie", cursive;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.form-items {
  display: flex;
  flex-direction: column;
}

.form-item-1 {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  align-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 266px;
  padding-top: 35px;
}

.form-item-1 #select {
  width: 237px;
  height: 32px;
  border-radius: 7px;
  padding-left: 10px;
  font-family: "Raleway";
  font-weight: 800;
  outline: none;
  background-color: #2a3b40;
}

.form-item-1 #date {
  font-weight: 800;
  width: 237px;
  height: 32px;
  border-radius: 7px;
  outline: none;
  padding-left: 10px;
  font-family: "Raleway";
  background-color: #2a3b40;
}

.form-item-1 #time {
  font-weight: 800;
  border-radius: 7px;
  width: 237px;
  height: 32px;
  outline: none;
  background-color: #2a3b40;
  padding-left: 10px;
  font-family: "Raleway";
}

.form-item-1 label {
  color: #fff;
  padding-bottom: 6px;
}

.form-item-2 {
  display: flex;
  padding-top: 0px;
  align-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 266px;
  padding-top: 43px;
}

.form-item-2 .text_field {
  display: flex;
  flex-direction: column;
}

.form-item-2 #name {
  width: 237px;
  height: 32px;
  background-color: #2a3b40;
  border-radius: 7px;
  padding-left: 10px;
  outline: none;
}

.form-item-2 #email {
  width: 237px;
  height: 32px;
  border-radius: 7px;
  padding-left: 10px;
  outline: none;
  background-color: #2a3b40;
}

.form-item-2 #phone {
  width: 237px;
  height: 32px;
  border-radius: 7px;
  padding-left: 10px;
  outline: none;
  background-color: #2a3b40;
}

label {
  color: #fff;
  padding-bottom: 6px;
}

::placeholder {
  color: #fff;
  font-weight: 800;
  font-family: "Raleway";
}

::shadow {
  box-shadow: none;
}

input {
  border: 1px solid white;
}

input[type=date] {
  color: #fff;
}

input[type=time] {
  color: #fff;
}

#select {
  color: #fff;
}

#submit {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 55px;
}

#submit a {
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid;
  color: #fff;
  width: 237px;
  height: 32px;
}

#submit a:hover {
  background-color: #000;
  color: #fff;
  transition: 0.25s;
}

.discover-2 {
  width: 100%;
  background-color: #d4d8d9;
  height: 819px;
}

.discover-2__title {
  padding-top: 43px;
}

.discover-2__title h1 {
  font-size: 50px;
  font-family: "Cookie", cursive;
  text-align: center;
}

.discover-2__title h2 {
  text-align: center;
  font-size: 55px;
  font-family: "Raleway", sans-serif;
  color: #ad6c12;
}

.discover-2__items {
  display: flex;
  column-gap: 35px;
  justify-content: center;
  padding-top: 55px;
}

.discover-2__item {
  background-color: #fff;
  display: flex;
  max-height: 500px;
  max-width: 339px;
  flex-direction: column;
}

.discover-2__item img {
  padding-bottom: 25px;
}

.discover-2-item__text {
  display: flex;
  padding-left: 21px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  flex-direction: column;
  padding-bottom: 25px;
}

.discover-2-item__text a {
  color: #555555;
}

.discover-2-item__text a:hover {
  border-bottom: 1px solid #f5983c;
  border-bottom-width: 7px;
  width: 100px;
  transition: 0.25s;
}

.discover-2-item__text p {
  color: #777777;
  padding-bottom: 24px;
}

.discover-2-item__text span {
  color: #4f4e4e;
  padding-bottom: 12px;
}

.discover-2-item__text #text {
  color: #000;
  font-weight: 400;
}

.social {
  display: flex;
  height: 341px;
  width: 100%;
}

.social-title {
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  max-width: 700px;
  margin: 0 auto;
}

.social-title #marks {
  display: flex;
  font-size: 100px;
  font-family: "Raleway", sans-serif;
}

.social-title p {
  text-align: center;
  padding-bottom: 20px;
  line-height: 25px;
}

.social-title h2 {
  padding-bottom: 30px;
  font-size: 20px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 47px;
  max-width: 334px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 40px;
}

.social-networks img {
  color: #fff;
  width: 46px;
  height: 46px;
}

.footer {
  height: 323px;
  background-color: #d4d8d9;
  width: 100%;
}

.info-about {
  display: flex;
  justify-content: center;
  column-gap: 105px;
  align-content: center;
  align-items: center;
  padding-top: 60px;
}

.about1 {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.about1 a {
  color: #000;
}

.about1 h1 {
  font-size: 24px;
}

.about2 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about2 a {
  font-weight: 800;
  color: #000;
}

.about2 :hover {
  opacity: 0.8;
}

.about2 h1 {
  font-size: 24px;
}

.about3 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about3 a {
  font-weight: 800;
  color: #000;
}

.about3 :hover {
  opacity: 0.8;
}

.about3 h1 {
  font-size: 24px;
}

.about4 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about4 a {
  font-weight: 800;
  color: #000;
}

.about4 :hover {
  opacity: 0.8;
}

.about4 h1 {
  font-size: 24px;
}

.about5 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about5 a {
  color: #000;
}

.about5 a:hover {
  opacity: 0.8;
}

.about5 h1 {
  font-weight: 800;
  font-size: 24px;
}

@media (max-width: 920px) {
  .header-nav a {
    font-size: 28px;
  }
}

@media (max-width: 785px) {
  .header-nav a {
    font-size: 24px;
  }

  .header-content {
    padding: 100px 110px 100px 110px;
  }

  .header-content h1 {
    font-size: 60px;
  }

  .header-content h2 {
    font-size: 55px;
  }

  .header-content a {
    font-size: 24px;
  }
}

@media (max-width: 667px) {
  .header-nav a {
    font-size: 22px;
  }

  .header-content h1 {
    font-size: 55px;
  }

  .header-content h2 {
    font-size: 50px;
  }

  .header-content a {
    font-size: 22px;
  }
}

@media (max-width: 629px) {
  .header-content h1 {
    font-size: 45px;
  }

  .header-content h2 {
    font-size: 45px;
  }
}

@media (max-width: 600px) {
  .header-nav a {
    font-size: 18px;
  }

  .header-content {
    padding: 90px 100px 90px 100px;
  }

  .header-content h1 {
    font-size: 35px;
  }

  .header-content h2 {
    font-size: 35px;
  }
}

@media (max-width: 510px) {
  .header-nav a {
    font-size: 15px;
  }

  .header-content {
    padding: 80px 100px 90px 100px;
  }

  .header-content h1 {
    font-size: 30px;
  }

  .header-content h2 {
    font-size: 30px;
  }

  .header-content a {
    font-size: 18px;
  }
}

@media (max-width: 462px) {
  .header-nav a {
    font-size: 12px;
  }

  .header-content {
    padding: 80px 100px 90px 100px;
  }

  .header-content h1 {
    font-size: 25px;
  }

  .header-content h2 {
    font-size: 25px;
  }

  .header-content a {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .header-nav a {
    font-size: 12px;
  }

  .header-content {
    padding: 70px 100px 70px 100px;
  }

  .header-content h1 {
    font-size: 20px;
  }

  .header-content h2 {
    font-size: 20px;
  }

  .header-content a {
    font-size: 16px;
  }

  .header-nav a {
    font-size: 11px;
  }

  .header-content {
    padding: 70px 100px 70px 100px;
  }

  .header-content h1 {
    font-size: 18px;
  }

  .header-content h2 {
    font-size: 18px;
  }

  .header-content a {
    font-size: 14px;
  }
}